{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
            <h4>Already have an account?</h4>
                <p>Login and continue playing.</p>
                <a class="ml-2" href="{{ url_for('Play') }}">Start</a>
        </div>
</article>
<article class="media content-section">
    <div class="media-body">
            <h4>Don't have an account?</h4>
                <p>Create one and start your game.</p>
        <a class="ml-2" href="{{ url_for('Start') }}">Create</a>
        </div>
</article>
{% endblock content%}